<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <h1>{{product}}</h1>
        <div class="cart">Cart({{cart}})</div>
        <p v-if="inStock>10">
          In Stock
        </p>
        <p v-else-if="inStock>=10 && inStock>0">
          Almost Sold Out
        </p>
        <p v-else>
          Sold Out
        </p>
        <ul>
          <li v-for="detail in details">{{detail}}</li>
        </ul>
        <ul>
          <li v-for="(variant,index) in variants" :key="variant.id" @mouseover="changeVariant(index)" :style="{backgroundColor:variant.color}" class="color-circle"></li>
        </ul>
        <button class="button" :class="[inStock ? '' : 'disabledButton']" @click="addToCart" :disabled="!inStock" >Add to Cart</button>
       <!-- <button class="button" :class="{disabledButton: !inStock}" @click="addToCart" :disabled="!inStock" >Add to Cart</button>-->
      </div>
      <div>
        <img :src="image" alt="">
      </div>
      
    </div>
    <div>
      <p id='p'>
      {{description}}
      </p>
    </div>
    <!-- Import App -->
    <script src="./main.js"></script>
    <!-- Mount App -->
    <script>
      const appMounted = app.mount('#app')
      const pMounted = p.mount('#p')
    </script>

  </body>
</html>
